NEXT_PUBLIC_SUPABASE_URL=https://syyszphuuahjgzhxgzjd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5eXN6cGh1dWFoamd6aHhnempkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNzQwOTQsImV4cCI6MjA5MTk1MDA5NH0.AdminGoA5df5Jcq3Hn98i2bsbytvjBfdVi77cuqQon8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5eXN6cGh1dWFoamd6aHhnempkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM3NDA5NCwiZXhwIjoyMDkxOTUwMDk0fQ.IJEsqoxAibWIWcenUak12a7hnm7dbSutKYcAWNj0gnM
NEXT_PUBLIC_SITE_URL=http://localhost:3000